#qr-console {
	display: flex;
	flex-flow: row;
}

#qr-console #qr-types-list {
	width: 20%;
	display: flex;
	align-items: center;
}

#qr-console #qr-types-list mat-list {
	width: 100%;
	text-align: right;
}

#qr-console #qr-form-container {
	width: 80%;
	border-left: 2px solid #bbb;
}

#qr-types-list mat-list-item.selected {
	background-color: #aaa;
}

#qr-types-list mat-list-item:hover {
	background-color: #ccc !important;
}

@media screen and (max-width: 768px) {
	#qr-console {
		flex-flow: column;
	}

	#qr-console #qr-form-container {
		border-top: 2px solid #bbb;
		border-left: none;
		width: 100%;
	}

	#qr-console #qr-types-list {
		width: 100%;
	}

	#qr-console #qr-types-list mat-list {
		display: flex;
		overflow-x: scroll;
	}

	#qr-types-list mat-list-item {
		width: fit-content;
		flex-shrink: 0;
	}
}
