<div id="qr-form">
	<form #QRInputForm [formGroup]="form">
		@if (type === "link") {
			<mat-form-field>
				<mat-label>URL</mat-label>
				<input matInput type="url" name="link" placeholder="Enter URL here" required [formControl]="link">
			</mat-form-field>
		} @else if (type === "email") {
			<mat-form-field>
				<mat-label>Email</mat-label>
				<input matInput type="email" name="email" placeholder="Enter your email here" required email [formControl]="email">
				@if (email.touched && email.errors?.["email"]) {
					<mat-hint>Please enter a valid email.</mat-hint>
				}
			</mat-form-field>
		} @else if (type === "image") {
			<mat-card>
				<mat-card-header>
					<mat-card-title>Usage</mat-card-title>
				</mat-card-header>
				<mat-card-content>
					<div>This directly creates a QR Code that embeds the image at low compression mode. You can print this QR and use any popular QR decoder such as <a href="https://www.zxing.org">ZXing</a> to decode it to your original image.</div>
					<div>It has a limit of 2953 bytes (around 2 KB).</div>
				</mat-card-content>
				<mat-card>
					<mat-card-content>
						<input type="file" name="image" accept="image/*" placeholder="Upload your image here" required [formControl]="image" (change)="onFilePicked($event)">
					</mat-card-content>
				</mat-card>
			</mat-card>
		} @else if (type === "sms") {
			<mat-form-field>
				<mat-label>Mobile Number</mat-label>
				<input matInput type="tel" name="tel" placeholder="Enter mobile number here" required [formControl]="mobileNumber">
				@if (mobileNumber.touched && mobileNumber.errors) {
					<mat-hint>Please enter a valid mobile number.</mat-hint>
				}
			</mat-form-field>
			<mat-form-field>
				<mat-label>SMS Contents</mat-label>
				<input matInput type="text" name="text" placeholder="Enter SMS contents here" required [formControl]="text">
			</mat-form-field>
		} @else if (type === "text") {
			<mat-form-field>
				<mat-label>Text</mat-label>
				<input matInput type="text" name="text" placeholder="Enter text here" required [formControl]="text">
			</mat-form-field>
		}
	</form>
	<div id="canvas-container">
		<canvas #QRCanvas width="200" height="200"></canvas>
	</div>
	<div id="download-buttons">
		<button mat-flat-button color="primary" (click)="saveAsPNG()">
			<mat-icon fontIcon="save"></mat-icon>
			Save as PNG
		</button>
		<button mat-flat-button color="primary" (click)="saveAsJPEG()">
			<mat-icon fontIcon="save"></mat-icon>
			Save as JPEG
		</button>
	</div>
</div>
